header {
  .eProcure-logo {
    height: 100%;
  }
  .first-row {
    padding: 12px 0;
  }
  .categories {
    background-color: $gColor;
    ul {
      list-style-type: none;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
    a {
      padding: 14px 20px;
      transition: 0.2s ease-in;
      white-space: nowrap;
      &:hover {
        background-color: #efeff1;
      }
      &.active {
        background-color: rgba(77, 190, 236, 0.13);
        color: $pColor;
        font-weight: bold;
      }
    }
  }
}

.sticky-header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  transform: translateY(-100%);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  &.show {
    transform: translateY(0);
  }
  .progress-scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $pColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.1s linear;
  }
}

@media screen and (max-width: 580px) {
  .categories .main-container {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  header .eProcure-logo,
  .sticky-header .eProcure-logo {
    width: 130px;
  }
}
