* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  line-height: 1.5;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: #fff;
  color: #1d2b36;
  font-weight: normal;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #1d2b36;
  cursor: pointer;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}

.flex {
  display: flex;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-dir-col {
  flex-direction: column;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-between {
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  background-color: #136bb1;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 36px;
  font-size: 18px;
}

.section-title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
  color: #232323;
}
.section-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 80px;
  background-color: #136bb1;
  opacity: 0.7;
}

header .eProcure-logo {
  height: 100%;
}
header .first-row {
  padding: 12px 0;
}
header ul {
  list-style-type: none;
}
header .categories-row {
  background-color: #f6f6f7;
}
header .categories-row a {
  padding: 14px 20px;
  transition: 0.2s ease-in;
}
header .categories-row a:hover {
  background-color: #efeff1;
}
header .categories-row a.active {
  background-color: rgba(77, 190, 236, 0.13);
  color: #136bb1;
  font-weight: bold;
}

.sticky-header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  transform: translateY(-100%);
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sticky-header.show {
  transform: translateY(0);
}
.sticky-header .progress-scroll-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #136bb1;
  transform: scaleX(0);
  transform-origin: left;
}

.article-banner .cover {
  height: 400px;
  background-image: linear-gradient(130deg, #48c6ef 0%, #6f86d6 100%);
}
.article-banner .content {
  padding: 24px 0;
  background-color: #f6f6f7;
  border-bottom: 1px solid #ebe9e9;
}
.article-banner .content span {
  opacity: 0.7;
  display: block;
  margin-bottom: 6px;
}

.articles {
  padding: 80px 0;
}
.articles .main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.articles .article-card {
  border-radius: 5px;
  background-color: #f6f6f7;
  overflow: hidden;
}
.articles .article-card .cover {
  height: 250px;
  background-color: #136bb1;
}
.articles .article-card .details {
  color: #6b6a7d;
  background-color: #f0f0f0;
  padding: 5px 20px;
}
.articles .article-card .title {
  text-align: center;
  font-size: 19px;
  padding: 16px 20px 24px;
}
.articles .article-card:hover .title {
  color: #136bb1;
}

.article-body {
  padding-top: 30px;
  font-size: 17px;
  color: #000;
}
.article-body * {
  font-family: "Roboto", sans-serif !important;
}
.article-body .main-container {
  max-width: 800px;
}
.article-body p {
  margin-bottom: 20px;
  line-height: 1.7;
}
.article-body ul,
.article-body ol {
  padding-left: 30px;
  margin-top: 10px;
}
.article-body ul ul,
.article-body ol ul {
  list-style-type: upper-alpha;
}
.article-body ul {
  list-style-type: disc;
  margin-bottom: 24px;
}
.article-body li {
  margin-bottom: 12px;
}
.article-body h2 {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 24px;
}
.article-body h3 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 18px;
}
.article-body .subscribe {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  margin-top: 60px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.article-body .subscribe h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.article-body .subscribe .form-group {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 600px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  height: 60px;
  border-radius: 100px;
  padding-right: 6px;
}
.article-body .subscribe .form-group input {
  width: 100%;
  height: 100%;
  padding: 0 14px 0 30px;
  font-size: 17px;
}
.article-body .subscribe .form-group .btn {
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(19, 107, 177, 0.3);
}

/*# sourceMappingURL=styles.css.map */
